<!DOCTYPE html> 
<html> 
<head>
    <title>Hunger Games Mobile</title> 
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    
    <link href="css/bootstrap-2.3.2.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive-2.3.2.min.css" rel="stylesheet">
    <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"> -->
    <link href="css/mobile.css" rel="stylesheet">
    <link href="css/jquery.toastmessage.css" rel="stylesheet">
    <link href="css/patchgraph.css" rel="stylesheet">

    <script type="text/javascript" src="libs/d3.v3.min.js"></script>
    <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script> -->
    <script type="text/javascript" src="libs/jquery-1.9.1.js"></script>
    <!-- <script type="text/javascript" src="libs/jquery-1.9.1.min.js"></script> -->
    <!-- <script type="text/javascript" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.js"></script> -->
    <script type="text/javascript" src="libs/bootstrap-2.3.2.min.js"></script>
    <script type="text/javascript" src="node_modules/underscore/underscore.js"></script>
    <script type="text/javascript" src="node_modules/backbone/backbone.js"></script>
    <script type="text/javascript" src="node_modules/backbone.drowsy/backbone.drowsy.js"></script>
    <script type="text/javascript" src="node_modules/backbone.drowsy/wakeful.js"></script>
    <script type="text/javascript" src="libs/jquery.toastmessage.js"></script>
    <script type="text/javascript" src="libs/jquery.cookie.js"></script>

    <script type="text/javascript" src="js/hunger-games.js"></script>
    <script type="text/javascript" src="js/model.js"></script>
    <script type="text/javascript" src="js/rollcall.js"></script>

    <script type="text/javascript" src="js/patchgraph.js"></script>
    <script type="text/javascript" src="js/mobile.js"></script>
    <script type="text/javascript" src="js/mobile.view.js"></script>

    <script id="list-view-template" type="text/template">
        <li class="list-item">
            <a class="note">
                <div class="author-container"><span class="author"><%= author %></span></div>
                <div class="part part-1"><%= part_1 %></div>
                <div class="part part-2"><%= part_2 %></div>
                <div class="create-reply-btn">Reply</div>
            </a>
            <a class="reply-entry hidden">
                <textarea class="field reply-text-entry" name="reply" type="text"></textarea>
                <button class="submit-reply-btn btn-success">Submit</button>
            </a>
        </li>
    </script>
    <script id="reply-view-template" type="text/template">
        <a class="reply">
            <div class="author-container"><span class="author"><%= author %></span></div>
            <div class="content"><%= content %></div>
        </a>
    </script>
</head>


<!-- NEXT UP:
    - deal with the fact that replies get overwritten when new content comes in
    - thin about restoring replies?
 -->



<body>
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container-fluid">
                <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">Hunger Games</a>
                <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav nav-pills">
<!--                         <li class="active home"><a href="#">Home</a></li> -->
                        <li class="active refresh-button"><a href="#">Refresh</a></li>
                        <li class="active notes-button"><a href="#">Notes</a></li>
                        <!-- <li class="active worth-remembering-button"><a href="#">Worth remembering</a></li> -->
                        <li class="active equalization-button"><a href="#">Equalization</a></li>
                        <!-- <li class="active move-tracker-button"><a href="#">Move tracker</a></li> -->
                        <li class="active graphs-button"><a href="#">Harvest</a></li>
                    </ul>
                    <form class="navbar-form pull-right">
                        <!-- Default behaviour of a input field in a form is to submit the form and reload
                            the page. We don't want that at all. To circumvent this we add an onkeypress handler
                            that calls the interceptKeypress function. This function calls loginUser if
                            the 'return' key is pressed and then returns false to avoid bubbling of the event
                            see also:
                            http://stackoverflow.com/questions/905222/enter-key-press-event-in-javascript
                        -->
                        <input class="hidden" id="username" type="text" name="username" autocomplete="on" placeholder="Please enter name" title="error" pattern="^[a-zA-Z0-9]+$" maxlength="25" onkeypress="return HG.Mobile.interceptKeypress(event)" />
                        <div class="alert alert-error input-alert">
                            <strong>Error!</strong> Name can only be alphanumerical without whitespace!
                        </div>
                        <button id="login-button" type="submit" class="btn btn-primary">Get me in!</button>
                        <!-- <a id="login-button" class="btn btn-primary">Get me in!</a> -->
                    </form>
                    <ul class="nav pull-right">   
                        <li class="active username-display"><a></a></li>
                        <li class="active logout-user"><a>Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="notes-screen" class="row-fluid">
        <div class="span12 view-container bs-docs-sidebar">
            <select id="activity-dropdown">
                 <option value="activity-1">In-Class Activity: My Bout Moves</option>
                 <option value="activity-2">Day 2, Activity 6: Reflecting on Bout 2</option>
<!--                  <option value="activity-3">Activity 3</option>
                 <option value="activity-4">Activity 4</option>
                 <option value="activity-5">Activity 5</option> -->
             </select>
            <a id="share-note-btn" class="btn btn-large btn-success">
                Submit
            </a>
            <div id="input-screen">
                <textarea class="field note-entry-field part-1-text-entry" id="note-part-1-entry" name="part_1" type="text" ></textarea>
                <textarea class="field note-entry-field part-2-text-entry" id="note-part-2-entry" name="part_2" type="text" ></textarea>
            </div>

            <div id="list-screen" class="bs-docs-sidebar">
                <ul class="nav nav-list bs-docs-sidenav affix-top scrollable">
                    <!-- filled by some ListView -->
                </ul>
            </div>
        </div>
    </div>

    <div id="equalization-screen" class="row-fluid">
        <div class="span12 view-container bs-docs-sidebar map-screen bkg-small-legend">
            <div class="map-title">
                <div>Can you arrange the squirrels so that each squirrel gets the same harvest in
                <span id="equalization-minutes-field"></span> minutes?</div>
                Squirrels assigned: <span id="squirrels-assigned" class="map-title">0</span>
            </div>
            <div class="patch-a patch">
                <div>Number of squirrels: <input class="equalization-squirrels-field" value=0 min=0 type="number" /></div>
                <div>Harvest per squirrel: <span class="equalization-harvest-field"></span></div>
                <div>Patch time all squirrels: <span class="equalization-patch-time-field"></span></div>
            </div>
            <div class="patch-b patch">
                <div>Number of squirrels: <input class="equalization-squirrels-field" value=0 min=0 type="number" /></div>
                <div>Harvest per squirrel: <span class="equalization-harvest-field"></span></div>
                <div>Patch time all squirrels: <span class="equalization-patch-time-field"></span></div>
            </div>
            <div class="patch-c patch">
                <div>Number of squirrels: <input class="equalization-squirrels-field" value=0 min=0 type="number" /></div>
                <div>Harvest per squirrel: <span class="equalization-harvest-field"></span></div>
                <div>Patch time all squirrels: <span class="equalization-patch-time-field"></span></div>
            </div>
            <div class="patch-d patch">
                <div>Number of squirrels: <input class="equalization-squirrels-field" value=0 min=0 type="number" /></div>
                <div>Harvest per squirrel: <span class="equalization-harvest-field"></span></div>
                <div>Patch time all squirrels: <span class="equalization-patch-time-field"></span></div>
            </div>
            <div class="patch-e patch">
                <div>Number of squirrels: <input class="equalization-squirrels-field" value=0 min=0 type="number" /></div>
                <div>Harvest per squirrel: <span class="equalization-harvest-field"></span></div>
                <div>Patch time all squirrels: <span class="equalization-patch-time-field"></span></div>
            </div>
            <div class="patch-f patch">
                <div>Number of squirrels: <input class="equalization-squirrels-field" value=0 min=0 type="number" /></div>
                <div>Harvest per squirrel: <span class="equalization-harvest-field"></span></div>
                <div>Patch time all squirrels: <span class="equalization-patch-time-field"></span></div>
            </div>
        </div>
    </div>

    <div id="move-tracker-screen" class="row-fluid">
        <div class="span12 view-container bs-docs-sidebar map-screen bkg-large-legend">
            <div id="move-tracker-title-box">
                <div class="map-title">
                    <button id="move-backward" class="move-button"><</button>
                    Bout <span class="bout-number"></span> moves for <span class="username"></span>: Move <span id="move-number"></span>
                    <button id="move-forward" class="move-button">></button>
                </div>
            </div>
            <div class="patch-a patch">
                <div>Number of squirrels: <span class="move-tracker-squirrels-field"></span></div>
                <div>Yield: <span class="move-tracker-yield-field"></span></div>
                <div>New yield: <span class="move-tracker-new-yield-field"></span></div>
                <div class="hidden">Risk level: <span class="move-tracker-risk-field"></span></div>
            </div>
            <div class="patch-b patch">
                <div>Number of squirrels: <span class="move-tracker-squirrels-field"></span></div>
                <div>Yield: <span class="move-tracker-yield-field"></span></div>
                <div>New yield: <span class="move-tracker-new-yield-field"></span></div>
                <div class="hidden">Risk level: <span class="move-tracker-risk-field"></span></div>
            </div>
            <div class="patch-c patch">
                <div>Number of squirrels: <span class="move-tracker-squirrels-field"></span></div>
                <div>Yield: <span class="move-tracker-yield-field"></span></div>
                <div>New yield: <span class="move-tracker-new-yield-field"></span></div>
                <div class="hidden">Risk level: <span class="move-tracker-risk-field"></span></div>
            </div>
            <div class="patch-d patch">
                <div>Number of squirrels: <span class="move-tracker-squirrels-field"></span></div>
                <div>Yield: <span class="move-tracker-yield-field"></span></div>
                <div>New yield: <span class="move-tracker-new-yield-field"></span></div>
                <div class="hidden">Risk level: <span class="move-tracker-risk-field"></span></div>
            </div>
            <div class="patch-e patch">
                <div>Number of squirrels: <span class="move-tracker-squirrels-field"></span></div>
                <div>Yield: <span class="move-tracker-yield-field"></span></div>
                <div>New yield: <span class="move-tracker-new-yield-field"></span></div>
                <div class="hidden">Risk level: <span class="move-tracker-risk-field"></span></div>
            </div>
            <div class="patch-f patch">
                <div>Number of squirrels: <span class="move-tracker-squirrels-field"></span></div>
                <div>Yield: <span class="move-tracker-yield-field"></span></div>
                <div>New yield: <span class="move-tracker-new-yield-field"></span></div>
                <div class="hidden">Risk level: <span class="move-tracker-risk-field"></span></div>
            </div>
        </div>
    </div>

    <div id="graphs-screen" class="row-fluid">
        <div class="span12 view-container bs-docs-sidebar">        
            <div class="btn-toolbar patchgraph-toolbar">
                <div class="btn-group sort-buttons">
                    <button type="button" class="btn btn-large btn-success graph-sort-btn" id="harvest" data-selector="harvest">Harvest</button>
                    <button type="button" class="btn btn-large btn-success graph-sort-btn" id="richPatch" data-selector="avg_quality">Richness</button>
                    <button type="button" class="btn btn-large btn-success graph-sort-btn" id="patchCompetition" data-selector="avg_competition">Competition</button>
                    <button type="button" class="btn btn-large btn-success graph-sort-btn" id="patchMoves" data-selector="total_moves">Moves</button>
                    <button type="button" class="btn btn-large btn-success graph-sort-btn" id="arbitrage" data-selector="arbitrage">Arbitrage</button>
                    <!-- <button type="button" class="btn btn-large btn-success graph-sort-btn" id="predation" data-selector="predation">Predation</button> -->
                </div>
                <div class="btn-group">
                    <button class="btn btn-large btn-primary dropdown-toggle" data-toggle="dropdown">Choose bout <span class="caret"></span></button>
                    <ul id="bout-picker" class="dropdown-menu" role="menu" aria-labelledby="choose bout">
                        <!--<li><a tabindex="-1" href="#" data-bout="1">Example of a line - created in code</a></li>-->
                    </ul>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="login-picker" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="login-picker" aria-hidden="true">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
        <h3>Please log in with your squirrel ID</h3>
      </div>
      <div class="modal-body login-buttons">
        <!-- filled by java script with buttons for user login -->
      </div>
      <!-- <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div> -->
    </div>


    <script type="text/javascript">
        jQuery(document).ready(function() {
          // extending jQuery http://stackoverflow.com/questions/31044/is-there-an-exists-function-for-jquery
          jQuery.fn.exists = function(){return this.length>0;} 
          HG.Mobile.init();
        }); 
    </script>
</body>
</html>